{include file="home/common/header" /}
<div class="ls-cart-box">
    <div class="cart-product">
        <div class="cart-item">
            <div class="c-item-img"></div>
            <div class="c-item-title">
                <a class="ls-link" href="">product1</a>
            </div>
            <div class="c-item-number">2</div>
            <div class="c-item-action"><a href="" class="ls-btn">delete</a></div>
        </div>
        <div class="cart-item">
            <div class="c-item-img"></div>
            <div class="c-item-title">
                <a class="ls-link" href="">product1</a>
            </div>
            <div class="c-item-number">2</div>
            <div class="c-item-action"><a href="" class="ls-btn">delete</a></div>
        </div>
    </div>
    <div class="offset-10"></div>
    <div class="cart-price">
        <div class="total-price">
            <label>total: </label>$89
        </div>
        <div class="cart-action">
            <a class="ls-btn-checkout" href="/Checkout">Checkout</a>
        </div>
    </div>
</div>
{include file="home/common/footer" /}