{include file="home/common/header" /}
<div class="ls-cart-box">
    <div class="cart-product">
        <?php
            foreach($product_list as $rs){
        ?>
        <div class="cart-item">
            <div class="c-item-img"></div>
            <div class="c-item-title">
                <a class="ls-link" href="Product/index/id/{$rs['uri']}">{$rs['product_name']}</a>
            </div>
            <div class="c-item-number">{$rs['qty']}</div>
            <div class="c-item-action">
                <a href="javascript:void(0); " class="ls-btn ls-cart-delete-item">delete</a>
            </div>
        </div>
        <?php
            }
        ?>
    </div>
    <div class="offset-10"></div>
    <div class="cart-price">
        <div class="total-price">
            <label>total: </label>${$price_obj['total_price']}
        </div>
        <div class="cart-action">
            <a class="ls-btn-checkout" href="/Checkout">Checkout</a>
        </div>
    </div>
</div>
{include file="home/common/footer" /}