<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>{$name}</title>
</head>
<style>
			.title{
				text-align: center;
				margin-top: 40px;
			}
			.img-box{
				text-align: center;
			}
			.pred{
				color: red;
				text-align: center;
			}
			@media screen and (max-width: 750px){
				
			}
			
</style>
<body>
	<div class="title"><h3>{$name}</h3></div>
	<div class="img-box">
		<img src="{$img_url}">
	</div>
	<div class="pred">
		<p>长按扫码即可观看</p>

<p>苹果手机先截图或保存然后再扫一扫观看</p>

<p>微信/QQ/浏览器扫码均可观看</p>
</div>
</body>
</html>