<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/static/css/main.css" rel="stylesheet" />
		<link href="/static/extend/slick/slick.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/extend/slick/slick-theme.css"/>
		<style>
		</style>
	</head>
	<body class="ls-container">
		{include file="home/common/nav" /}