<div class="ls-nav">
	<div class="ls-logo-box">
		<a href="/">
			hhh
		</a>
	</div>
	<div class="ls-cate-box">
		<ul class="nav-main">
			<!--
			<li>
				<a href="">aa</a>
			</li>
			<li>
				<a href="">bb</a>
				<ul class="sub-menu">
					<li><a href="">bbb</a></li>
					<li><a href="">bbb2</a></li>
				</ul>
			</li>
			<li>
				<a href="">cc</a>
				<ul class="sub-menu">
					<li>
						<a href="">ccc</a>
						<ul class="sub-menu">
							<li><a href="">cccc</a></li>
						</ul>
					</li>
					<li><a href="">ccc2</a></li>
				</ul>
			</li>
			-->
			<?php
			foreach($cate_list as $rs){
			?>
			<li>
				<a href="">{$rs['cate_name']}</a>
				<?php
				if(isset($rs['_child']) && $rs['_child']){
				?>
				<ul class="sub-menu">
					<?php 
					foreach($rs['_child'] as $rs1){
					?>
					<li><a href="">{$rs1['cate_name']}</a>
						<?php 
						if(isset($rs1['_child']) && $rs1['_child']){
						?>
							<ul class="sub-menu">
							<?php
							foreach($rs1['_child'] as $rs2){
							?>
								<li><a href="">{$rs2['cate_name']}</a></li>
							<?php
							}
							?>
							</ul>
						<?php
						}
						?>
					</li>
					<?php
					}
					?>
				</ul>
				<?php
				}
				?>
			</li>
			<?php
			}
			?>
		</ul>
	</div>
	<div class="ls-account-box">
		<ul class="nav-right">
            <li class="nav-vip">
				<a href=""><i class="icon icon-vip-s"></i></a>
			</li>
			<li class="nav-search">
				<a href="javascript:;" class="search-loader" title="搜索"><i class="icon icon-search iconfont"></i></a>
			</li>
			<li class="nav-login no">
				<a href="" class="signin-loader"><i class="icon icon-user"></i><span>登录</span></a>
				<b class="nav-line"></b>
				<a href="" class="signup-loader"><span>注册</span></a>
				<b class="nav-line"></b>
				<a href="/Cart" class="signup-loader"><span>Cart</span></a></li>
			<li class="nav-button"><a href="javascript:;" class="nav-loader"><i class="icon icon-menu"></i></a></li>
		</ul>

	</div>
</div>