.login-form{
	width: 40%;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}
.l-title{
	margin-bottom: 40px;
	font-size: 2em;
}
.layui-nav .active{
	background-color: #009688;
}
.login-captcha{
	margin-top: 14px;
	text-align: left;
}
.login-captcha img{
	height: 40px;
}
.edit-box{
	margin-top: 100px;
}
.pro-edit-img img{
	width: 200px;
}
.pro-edit-img{
	position: relative;
	display: inline-block;
    margin-right: 20px;
}
.show-img{
	padding-top: 10px;
	padding-bottom: 10px;
}
.img-close{
	position: absolute;
    top: 0;
	right: -12px;
    background-color: #fff;
	cursor: pointer;
}
.order-line-height{
	line-height: 40px;
}
.ls-home{
	position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
}
.ls-home a{
	color: #fff;
}
.ls-common-textarea{
	min-height: 100px;
}