@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.ttf') format('truetype');
}
body,html{
    padding: 0;
    margin: 0;
    color: #000;
}
.ls-container{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
div{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
a{
    color:#000;
    text-decoration: none;
}
.nav-line {
    width: 1px;
    background: #8a92a9;
    height: 10px;
    display: inline-block;
    margin: 0 15px;
}
.ls-home-top img{
    height: 600px;
}
.ls-home-top .slick-slide .img-link{
    display: block;
    justify-content: center;
    align-items: center;
}
.ls-nav{
    height: 80px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 12px;
}
.ls-logo-box{
    width: 10%;
    height: 100%;
}
.ls-logo-box{
    line-height: 80px;
}
.ls-cate-box{
    width: 70%;
    height: 100%;
}
.ls-account-box{
    width: 20%;
    height: 100%;
}
.iconfont{  
    font-family:"iconfont" !important;  
    font-size:16px;  
    font-style:normal;  
    -webkit-font-smoothing: antialiased;  
    -webkit-text-stroke-width: 0.2px;  
}  
.icon-search:before{
    content: "\e600";
}
.nav-right{
    display: flex;
}
.nav-right li{
    padding: 10px;
}
.nav-main{
    display: flex;
}
.nav-main > li > a{
    padding: 10px 13px 23px;
}
.nav-main .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    font-size: 14px;
    padding: 6px 0;
    margin: 20px 0 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    line-height: 32px;
    min-width: 160px;
    border-radius: 2px;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
.nav-main li:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.nav-main li{
    position: relative;
}
.nav-main > li{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-main a{
    display: block;
    padding: 0 15px;
}
.nav-main .sub-menu .sub-menu {
    left: 100%;
    top: 0;
    z-index: 9;
}
.nav-main > li > .sub-menu:before {
    content: " ";
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    border-bottom-color: #fff;
    position: absolute;
    left: 20px;
    top: -14px;
}
.picks-title{
    text-align: center;
    margin-top: 60px;
    font-size: 2rem;
}
.ls-product-box{
    display: flex;
}
.ls-product-item{
    width: 25%;
    padding: 20px;
}
.ls-p-img{
    height: 300px;
}
.ls-p-inner{
    background-color: #eeeeee;
    padding: 10px;
    display: block;
}
.ls-footer {
    position: relative;
    z-index: 9;
    clear: both;
    padding: 40px 15px;
    font-size: 12px;
    text-align: center;
    color: #a7a7a7;
    background: #666;
}
.lo-product{
    display: flex;
}
.lo-product-inner{
    width: 74%;
    display: flex;
}
.ls-product-recommand{
    width: 26%;
}
.product-left{
    width: 60%;
}
.product-right{
    width: 40%;
    padding-left: 2vw;
}
.p-img-thumb{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}
.gallary-thumb-item{
    padding: 1px;
    cursor: pointer;
}
.thumb-img-inner{
    border: 1px solid #ccc;
    padding: 0.2vw;
}
.p-img-thumb .slick-track{
    margin-left: unset;
}
.gallary-thumb-item{
    width: 80px;
    height: 80px;
}
.ls-btn-cart{
    display: block;
    padding: 10px 20px;
    background-color: #33ae33;
    margin-top: 20px;
    width: 30%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.ls-btn{
    padding: 8px 1vw;
    background-color: #3863d8;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.ls-btn:hover{
    color: rgb(226, 223, 223);
    background-color: #1e4fd6;
}
.ls-btn-checkout{
    display: block;
    padding: 10px 20px;
    background-color: #33ae33;
    margin-top: 20px;
    width: 30%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
h2.p-title{
    padding: 0;
    margin-top: 0;
}
.p-short-desc{
    padding: 0 1vw 2vw 0;
}
.p-action{
    margin-top: 20px;
}
button.slick-next:before{
    color: #000;
}
button.slick-prev:before{
    color: #000;
}
.thumb-img-inner.active{
    border-color: #33ae33;
}
.ls-verital-p-item{
    border: 1px solid #ccc;
    display: flex;
    margin-bottom: 10px;
}
.ls-v-img img{
    width: 12vw;
    height: 120px;
    vertical-align: middle;
}
.ls-v-text{
    padding-left: 1vw;
}
.ls-cart-box{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.cart-product{
    width: 60%;
    border: 1px solid #ddd;
    padding: 1vw 2vw;
}
.offset-10{
    width: 10%;
}
.cart-price{
    width: 30%;
    border: 1px solid #ddd;
    padding: 1vw 2vw;
}
.cart-item{
    display: flex;
    margin-bottom: 28px;
}
.c-item-img{
    width: 20%;
}
.c-item-title{
    width: 60%;
}
.c-item-number{
    width: 10%;
}
.c-item-action{
    width: 10%;
}
.total-price{
    margin-bottom: 20px;
}
.ls-link{
    color: #261c79;
}
.ls-link:hover{
    color: #1b0aad;
}
.ls-checkout-box{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.checkout-form{
    width: 60%;
}
.checkout-detail{
    width: 30%;
}
.form-item{
    margin-top: 10px;
}
.form-item input{
    padding: 10px 0.5vw;
    margin-right: 2vw;
    width: 40%;
}
.form-item input:focus{
    border: 1px solid #1b0aad;
}
.product-item{
    display: flex;
}
.item-title{
    width: 60%;
}
.item-price{
    width: 40%;
}
.order-product-list{
    margin-top: 10px;
    margin-bottom: 30px;
}
.price-item{
    display: flex;
}
.cart-action{
    margin-top: 30px;
}
.split{
    border-right: 1px solid #ddd;
    margin-right: 2vw;
}
.ls-shade-box{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.4;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 10%;
    display: none;
}
.ls-shade-box.active{
    display: block;
}
.ls-shade-box img{
    align-items: center;
    width: 20px;
}
.ls-alert-box{
    position: fixed;
    width: 20%;
    height: 100px;
    background-color: #555;
    top: 20%;
    margin-left: -10%;
    left: 50%;
    z-index: 3;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    display: none;
}
.ls-alert-box.active{
    display: block;
}

.ls-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.rs-product-list{
    margin-top: 10px;
    margin-bottom: 20px;
}
.rs-list-title{
    display: flex;
    margin-bottom: 8px;
}
.rs-list-box{
    display: flex;
}
.rs-box-l{
    width: 50%;
}
.rs-box-r{
    width: 40%;
}
.rs-px-l{
    width: 70%;
}
.rs-px-r{
    width: 30%;
}
.ipt-item{
	margin-bottom: 20px;
	border: 1px solid #999;
	padding: 4px;
}
.ele-tip{
	margin-bottom: 8px;
	color: red;
	display: none;
}
.stripe-box{
    margin-top: 20px;
}