{include file="home/common/header" /}
<div class="lo-product">
    <div class="lo-product-inner">
        <div class="product-left">
            <div class="p-img-main">

            </div>
            <div class="p-img-thumb">

            </div>
        </div>
        <div class="product-right">
            <h2>{$product['name']}</h2>
            <div class="p-short-desc">
                {$product['short_desc']}
            </div>
            <div class="p-price-box">

            </div>
            <div class="p-action">
                <a href="">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="lo-product-recommand">

    </div>
</div>
{include file="home/common/footer" /}