{include file="home/common/header" /}
<div class="lo-product">
    <div class="lo-product-inner">
        <div class="product-left">
            <div class="p-img-main">
                <div class="p-img-gallary" id="p-img-gallary">
                    <?php
                    $html = '';
                    foreach($product_img as $rs){
                        $html .= '<div>';
                        $html .= '<img src="' . $rs['uri'] . '">';
                        $html .= '</div>';
                    }
                    echo $html;
                    ?>
                </div>
            </div>
            <div class="p-img-thumb">
                <div class="p-img-gallary-thumb" id="p-img-gallary-thumb">
                    <?php
                    $html = '';
                    foreach($product_img as $rs){
                        $html .= '<div class="gallary-thumb-item"><div class="thumb-img-inner">';
                        $html .= '<img src="' . $rs['uri'] . '"></div>';
                        $html .= '</div>';
                    }
                    echo $html;
                    ?>
                </div>
            </div>
        </div>
        <div class="product-right">
            <h2 class="p-title">{$product['name']}</h2>
            <div class="p-short-desc">
                {$product['short_desc']}
            </div>
            <div class="p-price-box">
                ${$product['price']}
            </div>
            <div class="p-action">
                <label>
                    Number:
                    <input type="number" name="quity" value="1">
                </label>
                <a href="" class="ls-btn-cart">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="ls-product-recommand">
        <?php foreach($product_recommand as $rs){
        ?>
        <a class="ls-verital-p-item" href="">
            <div class="ls-v-img"></div>
            <div class="ls-v-text">
                <div class="p-price-box">

                </div>
                <h2 class="p-title"></h2>
            </div>
        </a>
        <?php
            }
        ?>
    </div>
</div>
{include file="home/common/footer" /}