{include file="admin/header" /}
		<div class="layui-container edit-box">
			<div class="layui-row">
				<form class="layui-form" method="POST">
					<div class="layui-form-item">
						<label class="layui-form-label">name</label>
						<div class="layui-input-block">
							<input type="text" name="name" id="name" required lay-verify="required" placeholder="name"
								autocomplete="off" class="layui-input" value="{$data.cate_name}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">uri</label>
						<div class="layui-input-block">
							<input type="text" name="uri" id="uri" required lay-verify="required" placeholder="uri"
								autocomplete="off" class="layui-input" value="{$data.uri}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">parent</label>
						<div class="layui-input-block">
						<select name="parent_id">
							<option value=""></option>
							<?php foreach($cate_list as $rs){ 
								if($rs['level'] >= 2){
									continue;
								}
								$checked = '';
								if(isset($data['parent_id']) && $data['parent_id'] == $rs['id']){
									$checked = 'selected';
								}
							?>
							<option value="{$rs['id']}" <?php echo $checked; ?>><?php 
								if($rs['level'] == 1){ echo '-'; }  
								echo $rs['cate_name']; ?></option>
							<?php
							}
							?>
						</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">description</label>
						<div class="layui-input-block">
							<textarea name="desc" id="desc" required lay-verify="required" placeholder="description"
								autocomplete="off" class="layui-textarea">{$data.desc}</textarea>
						</div>
					</div>
					
			
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type="hidden" name="id" id="id" value="{$data['id']}">
							<button type="button" class="layui-btn" id="submit-video" lay-submit lay-filter="cate-form">提交</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		<script>
			var uid = "";
			layui.use(['element', 'layer', 'util', 'jquery', "form", "upload"], function() {
				var form = layui.form,
					element = layui.element,
					layer = layui.layer,
					upload = layui.upload,
					util = layui.util,
					
					$ = layui.$;
				
				form.on('submit(cate-form)', function(data) {
				
					$.ajax({
						type: "POST",
						// async: false,
						dataType: "json",
						data: data.field,
						url: "{$url}",
						success: function(res){
							if(res.code == 1){
								layer.msg(res.msg, function(){
									location.href = "{$url_list}";
								});
								/*
								window.parent.location.reload();//刷新父页面
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
								*/
							}else{
								layer.msg(res.msg);
							}
						}
					});
					
					return false;
				});		   
				
			});

		</script>

{include file="admin/footer" /}