{include file="admin/header" /}
		<div class="layui-container edit-box">
			<div class="layui-row">
				<form class="layui-form" method="POST">
					<div class="layui-form-item">
						<label class="layui-form-label">name</label>
						<div class="layui-input-block">
							<input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入名称"
								autocomplete="off" class="layui-input" value="{$data.name}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">parent</label>
						<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
						</div>
					</div>
					
			
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type="hidden" name="uid" id="uid" value="">
							<button type="button" class="layui-btn" id="submit-video" lay-submit lay-filter="video-form">提交</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		<script>
			var uid = "";
			layui.use(['element', 'layer', 'util', 'jquery', "form", "upload"], function() {
				var form = layui.form,
					element = layui.element,
					layer = layui.layer,
					upload = layui.upload,
					util = layui.util,
					
					$ = layui.$;
				//监听提交
				/*
				form.on('submit(task-form)', function(data) {
				
					$.ajax({
						type: "POST",
						// async: false,
						dataType: "json",
						data: data.field,
						url: "{$url}",
						success: function(res){
							console.log(res);
							if(res.code == 1){
								layer.msg("提交成功");
								window.parent.location.reload();//刷新父页面
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
							}else{
								layer.msg(res.msg);
							}
						}
					});
					
					return false;
				});
				*/
				   
				
			});

		</script>

{include file="admin/footer" /}