<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>shop admin</title>
		<link href="/static/extend/layui/css/layui.css" rel="stylesheet">
		<link href="/static/css/backend.css" rel="stylesheet">
		
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo layui-hide-xs layui-bg-black">
					shop admin
					
				</div>
				<div class="ls-home">
					<a href="/" target="_blank">Home</a>
				</div>
				<!-- 头部区域（可配合layui 已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<!-- 移动端显示 -->
					<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
						<i class="layui-icon layui-icon-spread-left"></i>
					</li>
				
					<li class="layui-nav-item layui-hide-xs"><a href="">{$title}</a></li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item layui-hide layui-show-md-inline-block">
						<a href="javascript:;">
							<img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
								class="layui-nav-img">
							Admin
						</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:void(0)" id="btn-pass">修改密码</a></dd>
							<dd><a href="{$logout_url}">Sign out</a></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item <?php if(in_array($uri, ['pageList', 'addPage'])){ echo 'layui-nav-itemed'; } ?>">
							<a class="" href="javascript:;">page management</a>
							<dl class="layui-nav-child">
								<dd class="<?php if($uri == 'pagetList') echo 'active'; ?>"><a href="/Admin/pageList">page list</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item <?php if(in_array($uri, ['productList', 'cateList'])){ echo 'layui-nav-itemed'; } ?>">
							<a class="" href="javascript:;">product management</a>
							<dl class="layui-nav-child">
								<dd class="<?php if($uri == 'productList') echo 'active'; ?>"><a href="/Admin/productList">product list</a></dd>
								<dd class="<?php if($uri == 'cateList') echo 'active'; ?>"><a href="/Admin/cateList">category list</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item <?php if(in_array($uri, ['orderList'])){ echo 'layui-nav-itemed'; } ?>">
							<a class="" href="javascript:;">order management</a>
							<dl class="layui-nav-child">
								<dd class="<?php if($uri == 'orderList') echo 'active'; ?>"><a href="/Admin/orderList">order list</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item <?php if(in_array($uri, ['userList'])){ echo 'layui-nav-itemed'; } ?>">
							<a class="" href="javascript:;">user management</a>
							<dl class="layui-nav-child">
								<dd class="<?php if($uri == 'userList') echo 'active'; ?>"><a href="/Admin/userList">user list</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item <?php if(in_array($uri, ['menu'])){ echo 'layui-nav-itemed'; } ?>">
							<a class="" href="javascript:;">appearance</a>
							<dl class="layui-nav-child">
								<dd class="<?php if($uri == 'menu') echo 'active'; ?>"><a href="/Admin/menu">menu</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			