<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>shop admin</title>
		<link href="/static/extend/layui/css/layui.css" rel="stylesheet">
		<link href="/static/backend.css" rel="stylesheet">
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo layui-hide-xs layui-bg-black">video系统</div>
				<!-- 头部区域（可配合layui 已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<!-- 移动端显示 -->
					<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
						<i class="layui-icon layui-icon-spread-left"></i>
					</li>
				
					<li class="layui-nav-item layui-hide-xs"><a href="">video列表</a></li>
					
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item layui-hide layui-show-md-inline-block">
						<a href="javascript:;">
							<img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
								class="layui-nav-img">
							Admin
						</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:void(0)" id="btn-pass">修改密码</a></dd>
							<dd><a href="{$logout_url}">Sign out</a></dd>
						</dl>
					</li>
				</ul>
			</div>

			