{include file="admin/header" /}
<div class="layui-container edit-box">
	<div class="layui-row">
		<form class="layui-form" method="POST">
			<div class="layui-form-item">
				<label class="layui-form-label">account</label>
				<div class="layui-input-block order-line-height">
					{$data.account}
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">role</label>
				<div class="layui-input-block">
					<select name="role">
						<option value=""></option>
						<?php foreach($role_list as $key => $val){ 
					
								$checked = '';
								if($data['role_id'] == $key){
									$checked = 'selected';
								}
							?>
						<option value="{$key}" <?php echo $checked; ?>>
							<?php 
								echo $val; ?>
						</option>
						<?php
							}
							?>
					</select>
				</div>
			</div>
			


			<div class="layui-form-item">
				<div class="layui-input-block">
					<input type="hidden" name="id" id="id" value="{$data['id']}">
					<button type="button" class="layui-btn" id="submit-video" lay-submit
						lay-filter="cate-form">Save</button>
				</div>
			</div>
		</form>
	</div>

</div>


{include file="admin/footer" /}

<script>
	var uid = "",
		$;
	layui.use(['element', 'layer', 'util', 'jquery', "form", "upload"], function () {
		var form = layui.form,
			element = layui.element,
			layer = layui.layer,
			upload = layui.upload,
			util = layui.util;

			$ = layui.$;
		form.on('submit(cate-form)', function (data) {
			$.ajax({
				type: "POST",
				// async: false,
				dataType: "json",
				data: data.field,
				url: "{$url}",
				success: function (res) {
					if (res.code == 1) {
						layer.msg(res.msg, function () {
							location.href = "{$url_list}";
						});
					} else {
						layer.msg(res.msg);
					}
				}
			});

			return false;
		});


	});	
</script>