{include file="home/common/header" /}
<div class="ls-checkout-box">
    <div class="checkout-form">
        <div class="form-title">
            Billing Address
        </div>
        <div class="form-item">
            <input type="text" autocomplete="off" name="" placeholder="first name">
            <input type="text" name="" placeholder="last name">
        </div>
        <div class="form-item">
            <input type="text" name="" placeholder="phone">
            <input type="text" name="" placeholder="email">
        </div>
        <div class="form-item">
            <input type="text" name="" placeholder="address">
        </div>
    </div>
    <div class="offset-10 split"></div>
    <div class="checkout-detail">
        <div class="order-title">
            Order Summary
        </div>
        <div class="order-product-list">
            <div class="product-item">
                <div class="item-title">
                    product1 x 2
                </div>
                <div class="item-price">
                    $66
                </div>
            </div>
        </div>
        <div class="order-price">
            <div class="price-item">
                <div class="item-title">
                    total
                </div>
                <div class="item-price">
                    $66
                </div>
            </div>
        </div>
        <div class="cart-action">
            <a class="ls-btn-checkout">Order</a>
        </div>
    </div>
</div>
{include file="home/common/footer" /}