{include file="home/common/header" /}
<div class="ls-checkout-box">
    <div class="checkout-form">
        <form id="checkout-form">
            <div class="form-title">
                Billing Address
            </div>
            <div class="form-item">
                <input type="text" autocomplete="off" name="first_name" placeholder="first name">
                <input type="text" name="last_name" placeholder="last name">
            </div>
            <div class="form-item">
                <input type="text" name="phone" placeholder="phone">
                <input type="text" name="email" placeholder="email">
            </div>
            <div class="form-item">
                <input type="text" name="address" placeholder="address">
            </div>
            <input type='hidden' id="stripe-source" name="stripe_source" value="">
            <input type='hidden' id="payment-method" name="payment_method" value="">
        </form>
    </div>
    <div class="offset-10 split"></div>
    <div class="checkout-detail">
        <div class="order-title">
            Order Summary
        </div>
        <div class="order-product-list">
            <?php
                foreach($product_list as $rs){
            ?>
            <div class="product-item">
                <div class="item-title">
                   {$rs['product_name']} x {$rs['qty']}
                </div>
                <div class="item-price">
                    ${$rs['price']}
                </div>
            </div>
            <?php
                }
            ?>
        </div>
        <div class="order-price">
            <div class="price-item">
                <div class="item-title">
                    total
                </div>
                <div class="item-price">
                    ${$price_obj['total_price']}
                </div>
            </div>
        </div>
        <div class="cart-action">
            <a class="ls-btn-checkout" id="ls-btn-checkout" href="javascript:void(0);">Paypal</a>
        </div>
        <div class="stripe-box" id="stripe-box">
            <div class="ipt-item" id="ele-card"></div>
            <div class="ipt-item" id="ele-card-date"></div>
            <div class="ipt-item" id="ele-card-cvc"></div>
            <div class="ele-tip" id="ele-tip"></div>
            <a class="btn-stripe ls-btn-checkout" id="btn-stripe" href="javascript:void(0);">
                Stripe Pay
            </a>
        </div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe('pk_test_C0j5hBWBIMfSwlUzg6HcMDeh00IwQOvZBm');
</script>
{include file="home/common/footer" /}
