<!DOCTYPE html>
<html>
	<head>
		<link href="/static/extend/layui/css/layui.css" rel="stylesheet">
		<link href="/static/backend.css" rel="stylesheet">
	</head>
	<body>
		<div class="layui-container">
			<div class="layui-row">
				<form class="layui-form" method="POST">
					<div class="layui-form-item">
						<label class="layui-form-label">视频名称</label>
						<div class="layui-input-block">
							<input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入名称"
								autocomplete="off" class="layui-input" value="{$data.name}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">选择视频</label>
						<div class="layui-input-block">
							<button type="button" class="layui-btn" id="file1">
							  <i class="layui-icon">&#xe67c;</i>上传视频
							</button>
						</div>
					</div>
					
			
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type="hidden" name="id" id="id" value="{$data.id}">
							<button type="button" class="layui-btn" id="submit-video" lay-submit lay-filter="video-form">提交</button>
						</div>
					</div>
				</form>
			</div>
			<table class="layui-table">
			  <colgroup>
			    <col width="200">
			    <col width="260">
			    <col>
			  </colgroup>
			  <thead>
			    <tr>
			      <th>视频名称</th>
			      <th>进度（未完成请不要关闭此窗口）</th>
			      <th>状态</th>
			    </tr> 
			  </thead>
			  <tbody>
			    <tr>
			      <td>贤心</td>
			      <td>
					  <div class="layui-progress" lay-showPercent="yes">
					    <div class="layui-progress-bar layui-bg-green" lay-percent="30%"></div>
					  </div>
				  </td>
			      <td>进行中</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<script src="/static/extend/layui/layui.js"></script>
		<script>
			layui.use(['element', 'layer', 'util', 'jquery', "form", "upload"], function() {
				var form = layui.form,
					element = layui.element,
					layer = layui.layer,
					upload = layui.upload,
					util = layui.util,
					
					$ = layui.$;
				//监听提交
				/*
				form.on('submit(task-form)', function(data) {
				
					$.ajax({
						type: "POST",
						// async: false,
						dataType: "json",
						data: data.field,
						url: "{$url}",
						success: function(res){
							console.log(res);
							if(res.code == 1){
								layer.msg("提交成功");
								window.parent.location.reload();//刷新父页面
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
							}else{
								layer.msg(res.msg);
							}
						}
					});
					
					return false;
				});
				*/
				   
				//执行实例
				var uploadInst = upload.render({
				    elem: '#file1',
				    url: "{$url}",
					accept: "file",  // video
					data: {name: function(){
						return $("#name").val();
					}},
					auto: false,
					bindAction: "#submit-video",
					before: function(obj){
					    // layer.load(); //上传loading
					},
					progress: function(n, elem, res, index){
					    var percent = n + '%' //获取进度百分比
					    element.progress('demo', percent); //可配合 layui 进度条元素使用
					    
					    console.log(elem); //得到当前触发的元素 DOM 对象。可通过该元素定义的属性值匹配到对应的进度条。
					    console.log(res); //得到 progress 响应信息
					    console.log(index); //得到当前上传文件的索引，多文件上传时的进度条控制，如：
					    element.progress('demo-'+ index, n + '%'); //进度条
					  },
				    done: function(res){
						console.log(res);
						if(res.code != 1){
							layer.msg(res.msg);
						}else{
							layer.msg("添加成功");
						}
				    },
				    error: function(){
				    }
				});
			   
			});
		</script>
	</body>
</html>
