{include file="home/common/header" /}
{$home_top_banner|raw}
<div class="ls-top-picks">
    <h2 class="picks-title">
        Top Picks
    </h2>
    <div class="ls-pick-inner">
        <div class="ls-product-box">
            <div class="ls-product-item">
                <a class="ls-p-inner" href="">
                    <div class="ls-p-img">
                        <img src="/storage/images/20220418/1.jpg">
                    </div>
                    <div class="ls-p-info">
                        <div class="ls-p-price">$99</div>
                        <h2 class="ls-p-title">ssssss</h2>
                    </div>
                </a>
            </div>
            <div class="ls-product-item">
                <a class="ls-p-inner" href="">
                    <div class="ls-p-img">
                        <img src="/storage/images/20220418/1.jpg">
                    </div>
                    <div class="ls-p-info">
                        <div class="ls-p-price">$99</div>
                        <h2 class="ls-p-title">ssssss</h2>
                    </div>
                </a>
            </div>
            <div class="ls-product-item">
                <a class="ls-p-inner" href="">
                    <div class="ls-p-img">
                        <img src="/storage/images/20220418/1.jpg">
                    </div>
                    <div class="ls-p-info">
                        <div class="ls-p-price">$99</div>
                        <h2 class="ls-p-title">ssssss</h2>
                    </div>
                </a>
            </div>
            <div class="ls-product-item">
                <a class="ls-p-inner" href="">
                    <div class="ls-p-img">
                        <img src="/storage/images/20220418/1.jpg">
                    </div>
                    <div class="ls-p-info">
                        <div class="ls-p-price">$99</div>
                        <h2 class="ls-p-title">ssssss</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{include file="home/common/footer" /}